/* Colors */

.bg-willow-grove {
    background-color: #687864!important;
}

.bg-calypso {
    background-color: #31708E!important;
}

.bg-wedgewood {
    background-color: #5085A5!important;
}

.bg-cornflower {
    background-color: #8FC1E3!important;
}

.bg-catskill-white {
    background-color: #F7F9FB!important;
}
.col-willow-grove {
    color: #687864!important;
}

.col-calypso {
    color: #31708E!important;
}

.col-wedgewood {
    color: #5085A5!important;
}

.col-cornflower {
    color: #8FC1E3!important;
}

.col-catskill-white {
    color: #F7F9FB!important;
}

/* Font Sizes */

.fs1 {
    font-size: 10px;
}

.fs2 {
    font-size: 15px;
}

.fs3 {
    font-size: 17.5px;
}

.fs4 {
    font-size: 20px;
}

.fs5 {
    font-size: 22.5px;
}

@media (max-width: 992px) {
    .fs1 {
        font-size: 5px;
    }
    
    .fs2 {
        font-size: 10px;
    }
    
    .fs3 {
        font-size: 12.5px;
    }
    
    .fs4 {
        font-size: 15px;
    }
    
    .fs5 {
        font-size: 17.5px;
    }
}

/* Bootstrap modificiations */
.navbar {
    width: 100vw;
    height: 70px;
}

.nav-item {
    padding: 15px 40px;
    font-size: 17px;
    color: white!important;
    transition: all 0.5s;
    cursor: pointer;
}

.nav-item:hover {
    background-color: white;
    color: #31708E!important;
    transition: all 0.5s;
}

.nav-link {
    color: inherit!important;
}

@media (max-width: 992px) {
    .nav-item, .navbar-nav {
        width: 50vw;
    }

    .navbar-collapse {
        background-color: transparent!important;
    }


    .nav-toggle {
        width: calc(100vw - 195.376px);
        height: 70px;
        display: flex;
        justify-content: flex-end;
    }
}


.carousel {
    margin-top: 70px;
    height: calc(100vh - 70px);
}

.carousel-item img {
    width: 100vw;
    height: calc(100vh - 70px);
    object-fit: cover;
} 

.carousel-control-next, .carousel-control-prev{
    opacity: 0.5;
    transition: all 0.5s;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.5s;
}

/* Other */
.snap {
    scroll-snap-align: start;
}

.body {
    scroll-snap-type: y mandatory both;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.logo {
    height: 60px;
}

.logo-big {
    max-width: 100%;
}

.logo-footer {
    padding: 25px 0px;
    border-radius: 50%;
    background: #F7F9FB;
    width: 125px;
}

.about {
    min-height: 100vh;
}


.tabs {
    min-height: 100vh;
}

.tabs .row div{
    padding: 6.25vh 50px;
    min-height: 25vh;
}

.tabs img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.faq-question {
    width: 90vw;
    border: 1px solid #8FC1E3;
    background-color: white;
    min-height: 10vh;
    cursor: pointer;
}

.faq-answer {
    width: 90vw;
    border: 1px solid #8FC1E3;
    background-color: white;
}
